.signup {
    padding-top: 5rem;
    height: 100vh;
    display: flex;
    align-items: center;background: url(https://st2.depositphotos.com/2124221/46809/i/450/depositphotos_468095768-stock-photo-abstract-multicolored-background-poly-pattern.jpg);
    background-size: cover;
  }
  .signupContainer {
    width: 900px;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    background-color: rgba(255, 0, 230, 0.123);
    backdrop-filter: blur(100px);
  }
  .signupImage {
    width: 43%;
  }
  .signupImage img {
    width: 100%;
    mix-blend-mode: color-burn;
  }
  .signupDetail {
    padding: 2rem 4rem;
    width: 50%;
  }
  .signupDetail > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  .signupDetail > div:nth-child(1) h3,
  span {
    color: rgb(0, 0, 0);
  }
  .signupDetail > div:nth-child(2) input {
    width: 100%;
    padding: 10px;
    margin: 0.7rem 0;
    font-size: 15px;
    letter-spacing: 1px;
    /* outline: none; */
    border: 1px solid rgb(187, 187, 187);
    color: rgb(0, 0, 0);
  }
  .signupDetail > div:nth-child(2) button {
    width: 100%;
    padding: 10px;
    margin: 1rem 0;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #fd436e;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
  }
  .signupDetail > div:nth-child(2) p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin: 5px 0;
  }
  .signupDetail > div:nth-child(2) p a {
    color: #ff003c;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
  }
  .passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .passwordInput {
    width: 100%;
    padding-right: 2.5rem; 
  }
  
  .passwordToggleIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #888;
  }
  
  @media (max-width: 1000px) {
    .signupContainer {
      width: 500px;
      padding: 0;
    }
    .signupImage {
      display: none;
    }
    .signupDetail {
      padding: 2rem 3rem;
      width: 100%;
    }
  }
  @media (max-width: 570px) {
    .signup {
      padding-top: 0rem;
    }
    .signupContainer {
      width: 320px;
    }
    .signupDetail {
      padding: 1rem 1rem;
    }
    .signupDetail > div:nth-child(2) p {
      font-size: 14px;
    }
  }
  @media (max-width: 350px) {
    .signup {
      background-color: white;
    }
    .signupContainer {
      width: 280px;
    }
    .signupDetail {
      padding: 10px;
    }
    .signupDetail > div:nth-child(2) p {
      font-size: 11px;
      margin: 2px 0;
    }
  }