.singleProComponent {
    padding-top: 5rem;
  }
  .singleProNavigation {
    padding: 24px 2rem;
    font-size: 14px;
    color: rgb(47, 45, 45);
    font-weight: 300;
  }
  .singleProNavigation span {
    font-weight: 600;
  }
  .singlePro {
    display: flex;
  }
  .singleProGallery {
    height: 80vh;
    width: 58%;
    overflow: hidden;
    margin: 2rem;
    margin-top: 0;
  }
  .swipeImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
  }
  .swipeImage img {
    width: 100%;
  }
  .singleProDetails {
    width: 42%;
  }
  .singleProName {
    border-bottom: 1px solid rgb(213, 213, 213);
    margin-right: 2rem;
  }
  .singleProName > h2:nth-child(1) {
    font-weight: 600;
    color: rgb(29, 28, 28);
  }
  .singleProName > h2:nth-child(2) {
    font-weight: 300;
    color: rgb(82, 82, 82);
    font-size: 18px;
  }
  .singleProName > p {
    width: 180px;
    font-weight: 300;
    color: rgb(121, 121, 121);
    font-size: 15px;
    margin: 10px 0 20px 0;
    border: 1px solid rgb(231, 231, 231);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
  }
  .singleProName > p:hover {
    border: 1px solid rgb(117, 117, 117);
  }
  .singleProName > p span {
    font-weight: 600;
  }
  .singleItemDetails > div {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    color: #282c3f;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  .singleItemDetails > div s {
    font-size: 17px;
    color: gray;
    font-weight: 400;
  }
  .singleItemDetails > div span {
    font-size: 17px;
    color: #ff925a;
    font-weight: 400;
  }
  .singleItemDetails > p {
    font-size: 13px;
    color: #14958f;
    font-weight: 600;
    margin: 10px 0;
  }
  .singleItemDetails > h5 {
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(213, 213, 213);
    margin-right: 2rem;
  }
  .singleProQuantity {
    width: 50%;
    padding: 15px 0;
  }
  .singleProButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(213, 213, 213);
  }
  .singleProIcons {
    font-size: 22px;
  }
  .singleProButtons button {
    width: 250px;
    padding: 0.8rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 4px;
    cursor: pointer;
  }
  .addToCart {
    border: none;
    color: white;
    background-color: #ff3f6c;
  }
  .addToCart:hover {
    background-color: #ff97b5;
    color: rgb(51, 42, 42);
  }
  .addToList {
    background-color: #ff3f6c;
    /* border: 1px solid rgb(22, 178, 43); */
    color: white;
    border: none;
  }
  .addToList:hover {
    /* border: 1px solid rgb(138, 70, 70); */
    background-color: #ff97b5;
    color: rgb(159, 22, 22);
  }
  
  .singleProDescription {
    padding: 1rem 1rem 10rem 0;
  }
  .singleProDescription > h3 {
    margin-bottom: 10px;
    font-weight: 550;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .singleProDescription > p {
    font-size: 15px;
    color: rgb(73, 73, 73);
  }
  .singleProDescription > h4 {
    font-size: 15px;
    font-weight: 500;
    color: rgb(73, 73, 73);
    margin: 5px 0;
  }
  @media (max-width: 1000px) {
    .singlePro {
      flex-direction: column;
      margin-top: 0;
    }
    .singleProGallery {
      height: 70vh;
      width: 100%;
      margin: 0;
    }
    .swipeImage {
      height: 70vh;
    }
    .swipeImage img {
      width: 100%;
    }
    .singleProDetails {
      width: 100%;
      height: auto;
      padding: 1rem;
    }
    .singleProButtons {
      padding-right: 0;
    }
  }
  @media (max-width: 920px) {
    .singleProComponent {
      padding-top: 4rem;
    }
    .singleProNavigation {
      display: none;
    }
  }
  @media (max-width: 550px) {
    .singleProComponent {
      padding-top: 3.7rem;
    }
  
    .singleProButtons {
      gap: 0.5rem;
      padding-right: 0;
      padding-bottom: 1.5rem;
    }
    /* .singleProIcons {
    font-size: 22px;
  } */
    .singleProButtons button {
      width: 49%;
      padding: 0.8rem 2rem;
      gap: 0.5rem;
    }
  }
  @media (max-width: 440px) {
    .singleProGallery {
      height: 300px;
      width: 300px;
    }
    .swipeImage {
      height: auto;
    }
    .swipeImage img {
      width: 100%;
    }
  }
  @media (max-width: 330px) {
    .singleProComponent {
      padding-top: 2rem;
    }
    .singleProButtons button {
      width: 100%;
    }
  }
  @media (max-width: 305px) {
    .singleProComponent {
      padding-top: 1rem;
    }
  }